[Unit]
Description=Image Storage Client Service
After=network.service

[Service]
Type=idle
ExecStart=/opt/rocks/bin/img-storage-vm start
ExecStop=/opt/rocks/bin/img-storage-vm stop
Restart=on-abort
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=multi-user.target
